* {
	box-sizing: border-box;
    margin: 0;
}

body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
    color: #000;
    font-size: 50px;
    margin: 0;
}
hr {
	width: 50%; border: 1px solid rgb(128, 167, 184); margin: 20px auto;
}

/* Navigation Bar */
.navbar {
	color: #fff;
	overflow: hidden;
	padding: 50px 40px;
}

.logo {
	font-size: 30px;
    background: white;
    border-radius: 200px;
    padding: 8px 5px;
	color: #5b545b;
	font-weight: bold;
	text-decoration: none;
}

.navbar-toggle {
	display: none;
	cursor: pointer;
	font-size: 24px;
	float: right;
}

.main-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
}

.main-nav li {
	display: inline-block;
	margin-left: 20px;
	text-transform: uppercase;
}
.main-nav a {
	color: #fff;
	text-decoration: none;
}
.main-nav a:hover {
	color: #1db2f2;
	font-weight: bold;
}

.nav-links {
	padding: 5px 10px;
	display: block;
	text-align: center;
}

/* Banner */
.banner {
	overflow: hidden;
	background: linear-gradient(
		to top,
		rgba(255, 255, 255, 0.8) 0%,
		rgba(9, 9, 121, 0.5) 80%
	);
	margin-bottom: 100px;
}
.banner-text {
	text-align: center;
	margin-top: 60px;
}
.banner h1 {
    color: #5b545b;
    font-size: 2em;
}
.banner h2 {
	color: #1db2f2;
	font-size: 3rem;
}
.banner-content {
    display: flex;
	align-items: center;
	text-align: center;
	width: 80%;
	margin: auto;
}
.banner-image {
	max-width: 40%;
	height: auto;
	margin-right: 20px;
	border-radius: 200px;
}
.highlight {
    text-align: left;
    margin-left: 30px;
}
.name {
    font-size: 6rem;
}

/* Animation */
@keyframes typing {
	from {
		width: 0; /* Start with 0 width */
	}
	to {
		width: 100%; /* End with full width */
	}
}

/* Apply the typing animation to each letter */
.banner h2 {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap; /* Ensure the text stays on one line */
    border-right: .15em solid orange;
	animation: typing 2s steps(20, end);
	animation-fill-mode: forwards; 
}

/* Animation for h1 */
.banner h1 {
	opacity: 0;
	animation: fadeInUp 1s ease forwards;
	animation-delay: 0.5s; /* Delay the animation */
	position: relative;
}

/* Fade in animation */
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* About Me */
.about-me {
	padding: 50px 40px 20px 40px;
	background-color: #fff;
	margin-bottom: 20px;
    width: 80%;
	margin: 40px auto 100px auto;
}

.about-me-content {
	display: flex;
	align-items: center;
	text-align: center;
    margin-top: 4%;
	border-left: .2em solid #13C0DB;
}

.about-me-text {
	margin-left: 10px;
	text-align: left;
	line-height: 1.5;
    font-size: 20px;
}

/* Services */
.services {
	padding: 40px;
	width: 90%;
	margin: 40px auto 100px auto;
}
.service-container {
    margin-top: 4%;
	display: flex;
}
.service-card {
	background-color: #f0f0f0;
	border-radius: 8px;
	width: 350px;
	height: 350px;
	padding: 0px;
	margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
	overflow: hidden;
	margin: auto;
}
.service-card:hover {
	transform: translateY(-10px);
}
.card-text {
	text-align: left;
	margin: 10px;
	font-family: "Open Sans", sans-serif;
}

.service-card h3 {
	margin-bottom: 10px;
	color: #5b545b;
}

.service-card img {
    width: 100%;
    height: 60%;
    border-radius: 10px;
}

/* Portfolio */
.portfolio-section {
	padding: 40px;
	text-align: left;
	width: 90%;
	margin: 40px auto 100px auto;

}
/* .portfolio-container {
    margin-top: 4%;
	display: flex;
} */
.portfolio-card {
	background-color: #f0f0f0;
	border-radius: 8px;
	width: 300px;
	height: 300px;
	padding: 0px;
	margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
	overflow: hidden;
	margin: auto;
}
.portfolio-card:hover {
	transform: translateY(-10px);
}
.portfolio-card h3 {
	margin-bottom: 10px;
}

.portfolio-card img {
    width: 100%;
    height: 60%;
    border-radius: 10px;
}
/* Skills */
.skills {
	padding: 40px;
    text-align: center;
	width: 80%;
	margin: 40px auto 100px auto;

}
.skill-lists {
	margin-top: 3%;
}
.skill-lists ul {
	text-align: center;
	padding: 0;
}

.skill-lists ul li {
	display: inline-block;
	margin: 10px;
	list-style: none;
	transition: transform 0.1s ease;
}
.skill-lists ul li img {
	width: 3rem;
	height: 3rem;
}
/* Animation effect on hover */
.skill-lists ul li:hover {
	transform: scale(1.1); /* Scale the image */
}

/* Contact */
.contact {
    text-align: center;
    margin-top: 50px;
    width: 80%;
    margin: 10px auto;
	padding: 40px;
	display: flex;
}

.contact-form {
	width: 60%;
}
.form-group {
    margin-bottom: 20px;
	width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
	width: 20%;
	font-weight: 600;
	color: #545757
}

.form-group input,
.form-group textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
}

.form-group textarea {
    height: 150px;
}

button[type="button"] {
    background-color: #007bff;
    color: #fff;
	font-size: 1.2rem;
    border: none;
	width: 80%;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="button"]:hover {
    background-color: #0056b3;
}
.btn {
	display: flex;
	justify-content: end;
}
.social-media1 {
	width: 40%;
	display: block;
	margin: auto;
}
.social-media1 a {
	color: #000;
    font-size: 4rem;
}
.footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
}


@media screen and (max-width: 600px) {
	.navbar-toggle {
		display: block;
	}
	.main-nav {
		display: none;
		width: 100%;
		text-align: center;
	}
	.main-nav li {
		display: block;
		margin: 10px 0;
	}
	h1 {
		font-size: 25px;
	}
	/* Banner */
    .banner h1 {
    font-size: 1.5em;
    margin-top: 0px;
    padding-top: 0px;
    font-family: "Open Sans", sans-serif;
}
	.banner h2,
	.name {
		font-size: 40px;
	}
    .banner-content {
		flex-direction: column;
		width: 100%;
	}
    .banner-image {
		margin-right: 0;
		margin-bottom: 10px;
	}
	/* About */
	.about-me {
		flex-direction: column;
		width: 100%;
	}
	.about-me-text h2 {
		text-align: center;
	}
	/* Service */
	.services {
		width: 100%;
		padding: 20px;
	}
	.service-container {
		display: block;
	}
	.service-card {
		width: 100%;
		margin: 25px auto;
		/* display: flex; */
	}
	/* Portfolio */
    .portfolio-section {
		width: 100%;
		padding: 20px;
	}
	.portfolio-container {
		display: block;
	}
	.portfolio-card {
		width: 100%;
		margin: 25px auto;
	}
    /* Skills */
	.skills {
		width: 100%;
		padding: 20px;
	}
	.skills h1, .skill-lists ul {
		text-align: left;
		margin-left: 17px;
	}
    .contact {
        width: 100%;
		display: block;
		padding: 15px;
    }
	.contact-form, .social-media1 {
		width: 100%;
	}
	.btn {
		justify-content: center;
	}
	.social-media1 {
		margin-top: 4%;
	}
	.social-media1 a {
		font-size: 2rem;
	}

	.form-group label, .form-group input,
	.form-group textarea {
		width: 100%;
		text-align: left;
	}
	button[type="button"] {
		font-size: 1rem;
		width: 100%;
	}
	.about-me, .services, .portfolio-section, .skills {
		margin-bottom: 10px;
	}
}

@media screen and (min-width: 601px) and (max-width: 768px) {
	.navbar-toggle {
		display: block;
	}
	.main-nav {
		display: none;
		width: 100%;
		text-align: center;
	}
	.main-nav li {
		display: block;
		margin: 10px 0;
	}
}

@media screen and (min-width: 769px) {
	.navbar-toggle {
		display: none;
	}
	.main-nav {
		display: block;
		float: right;
	}
	.main-nav li {
		display: inline-block;
		margin-left: 20px;
	}

    .form-group {
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
    }
}
